.seats {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  justify-content: center;
  align-items: center;
}

.seat {
  font-weight: 900;
  flex: 0 1 calc(20% - 8px);
  text-align: center;
  padding: 5px;
  cursor: pointer;
}

.selected-seat {
  color: #72e3e3;
  filter: invert(81%) sepia(68%) saturate(290%) hue-rotate(122deg) brightness(91%) contrast(94%);
}

.select-time {
  border: 2px solid hsla(245, 58%, 60%, 1) !important;
  background-color: #fff !important;
  color: hsla(245, 58%, 60%, 1) !important;
  margin: 5px;
  padding: 10px;
  border-radius: 50px;
}

.active-time {
  background-color: hsla(245, 58%, 60%, 1) !important;
  color: #fff !important;
}