.signup-container {
  padding: 150px;
  background-color: #171717;
  min-height: 100vh;
}

.signup-confirm-form-border {
  margin: auto;
  width: 352px;
  height: 252px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background: hsla(283, 92%, 63%, 1);
  background: linear-gradient(90deg, hsla(283, 92%, 63%, 1) 0%, hsla(180, 67%, 67%, 1) 50%, hsla(245, 58%, 60%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(283, 92%, 63%, 1) 0%, hsla(180, 67%, 67%, 1) 50%, hsla(245, 58%, 60%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(283, 92%, 63%, 1) 0%, hsla(180, 67%, 67%, 1) 50%, hsla(245, 58%, 60%, 1) 100%);
}

.signup-confirm-form-container {
  width: 350px;
  height: 250px;
  border-radius: 25px;
  background-color: #171717;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-confirm-header {
  margin: 20px 50px;
  font-size: 0.75rem;
  color: #898989;
}

.form-signup {
  display: flex;
  flex-direction: column;
}

.form-signup h3 {
  color: #fff;
  font-size: 0.75rem;
  margin: 5px 0;
}

.form-signup input {
  margin: 10px 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  border: 1px solid #000;
  background-color: #131313;
  color: #fff;
  padding: 10px;
  border-radius: 25px;
}

.form-signup button {
  margin-top: 10px;
  border-radius: 25px;
  padding: 5px;
  border: 1px solid #000;
  background-color: #131313;
  color: #fff;
  cursor: pointer;
  transition: background 0.5s ease;
}

.form-signup select {
  margin: 10px 0;
  border: 1px solid #000;
  color: #fff;
  background-color: #131313;
  padding: 7px;
  border-radius: 50px;
  outline: none;
  -webkit-appearance: none;
}

.form-signup input[type=date] {
  border: 1px solid #000;
  color: #fff;
  background-color: #131313;
  padding: 6px;
  border-radius: 50px;
  outline: none;
  -webkit-appearance: none;
}

.form-signup button:hover {
  background: hsla(283, 92%, 63%, 1);
  background: linear-gradient(180deg, hsla(283, 92%, 63%, 1) 0%, hsla(180, 67%, 67%, 1) 50%, hsla(245, 58%, 60%, 1) 100%);
  background: -moz-linear-gradient(180deg, hsla(283, 92%, 63%, 1) 0%, hsla(180, 67%, 67%, 1) 50%, hsla(245, 58%, 60%, 1) 100%);
  background: -webkit-linear-gradient(180deg, hsla(283, 92%, 63%, 1) 0%, hsla(180, 67%, 67%, 1) 50%, hsla(245, 58%, 60%, 1) 100%);
}

.skip {
  color: #fff;
  margin-top: 15px;
  font-size: 0.625rem;
}

.skip a {
  text-decoration: none;
  color: #fff;
}

.skip a:hover {
  text-decoration: underline;
}