.landing-page-container {

}

.landing-page-hero {
  width: 100vw;
  height: 100vh;
  background-image: url(../../../assets/background4.gif);
  background-repeat: no-repeat;
  background-size: 100%;
}